/* Style de base */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.outlined-text {
  font-size: 2.5em; /* Taille par défaut pour la version web */
  font-weight: bold;
  color: #c4c1c1; /* Couleur personnalisée pour le texte */
  background-color: #fff;
  padding: 10px 20px; /* Espace à l'intérieur du cadre */
  border: 2px solid #911092; /* Bordure avec la même couleur que le texte */
  border-radius: 20px; /* Coins arrondis */
  margin-bottom: 20px; /* Espace entre le texte encadré et le titre */
  display: inline-block; /* Pour que le texte ne prenne que l'espace nécessaire */
}

/* Section freelance */
.freelance-section {
  background-image: url('/public/images/FreelanceSection1.png'); /* Image par défaut pour la version bureau */
  background-size: cover;
  background-position: center center;
  height: 100vh; /* Hauteur de la section sur la version bureau */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  position: relative;
}

/* Contenu de la section freelance */
.freelance-content {
  max-width: 80%;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  z-index: 1;
}

.freelance-content h1 {
  font-size: 2.8em; /* Taille du titre */
  margin-bottom: 20px;
  color: #293a4d;
  font-weight: bold;
  line-height: 1.3;
}

.freelance-content p {
  font-size: 1.4em;
  color: #000000;
  line-height: 1.6;
}

/* Pour les tablettes (max-width: 768px) */
@media (max-width: 768px) {
  .freelance-section {
    background-image: url('/public/images/FreelanceSection1.png'); /* Image pour les tablettes */
    background-attachment: scroll; /* Désactiver l'effet de fond fixe */
    background-size: cover; /* S'adapte à la taille de l'écran */
    background-position: center center;
    height: auto; /* Ajuster la hauteur */
    padding: 20px;
  }

  .freelance-content {
    max-width: 90%; /* Augmenter la largeur du contenu pour les tablettes */
    padding: 10px 20px;
  }

  .freelance-content h1 {
    font-size: 4vw; /* Taille dynamique en fonction de la largeur de la fenêtre */
    margin-bottom: 20px;
  }

  .freelance-content p {
    font-size: 4vw; /* Taille dynamique en fonction de la largeur de la fenêtre */
  }

  /* Réduire la taille du texte pour l'élément .outlined-text */
  .outlined-text {
    font-size: 1.8em; /* Réduire la taille du texte pour les tablettes */
  }
}

/* Pour les smartphones (max-width: 600px) */
@media (max-width: 600px) {
  .freelance-section {
    background-image: url('/public/images/FreelanceSection1.png'); /* Image pour les smartphones */
    background-attachment: scroll; /* L'effet de fond fixe */
    background-size: cover; /* L'image couvre toute la zone */
    background-position: center center; /* Centrer l'image */
    height: 100vh; /* Garder la hauteur de la section sur mobile */
    padding: 20px;
  }

  .freelance-content {
    max-width: 100%; /* S'assurer que le contenu prend toute la largeur sur mobile */
    padding: 10px 20px;
  }

  .freelance-content h1 {
    font-size: 6vw; /* Taille dynamique en fonction de la largeur de l'écran */
    margin-bottom: 20px;
  }

  .freelance-content p {
    font-size: 4vw; /* Taille dynamique en fonction de la largeur de l'écran */
  }

  /* Réduire la taille du texte pour l'élément .outlined-text */
  .outlined-text {
    font-size: 1.8em; /* Réduire la taille du texte pour les petits écrans */
  }
}